.footer {
  background-color: $color-primary-1;
  padding-top: 7rem;
  padding-left: 5rem;

  @media only screen and (min-width: $desktop-up) {
    padding-bottom: 7rem;
  }

  .logo {
    padding-bottom: 5rem;

    @media only screen and (min-width: $desktop-up) {
      padding-bottom: 2rem;
    }
  }

  @media only screen and (min-width: $desktop-up) {
    .display {
      display: flex;
      justify-content: space-between;

      &-links {
        display: flex;
        padding: 0 5rem 0 5rem;
        width: 35%;
        justify-content: space-between;

        .links-1,
        .links-2 {
          padding-top: 0;
          padding-right: 3rem;
        }
      }

      .social-media {
        width: 20%;
        align-items: start;
        margin: 0 5rem 0 0;
        padding: 0 0 0 0;

        &__link {
          width: 20%;
        }
      }
    }
  }
  .contact {
    &__phone {
      display: flex;
      padding-bottom: 1.5rem;
      align-items: flex-end;

      img {
        padding-right: 2rem;
      }

      p {
        color: $color-neutral-1;
        font-size: 1.6rem;
      }
    }

    &__mail {
      display: flex;
      align-items: flex-end;
    }

    img {
      padding-right: 2rem;
    }

    p {
      color: $color-neutral-1;
      font-size: 1.6rem;
    }
  }

  .links-1,
  .links-2 {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;

    a,
    :visited {
      text-decoration: none;
      font-family: $font-family-1;
      color: $color-neutral-1;
      font-size: 1.7rem;
    }

    a {
      padding-bottom: 1.5rem;

      &:hover {
        color: $color-accent-1;
      }
    }
  }

  .social-media {
    width: 50%;
    display: flex;
    padding: 5rem 0 5rem 0;
    margin-left: 6rem;
    align-items: center;

    &__link {
      width: 100%;
      padding-right: 2rem;
      .facebook {
        width: 80%;
      }
    }
  }
}

footer {
  .attribution {
    padding: 2rem;
    background-color: $color-primary-2;
    font-size: 1.6rem;
    font-family: $font-family-2;

    a,
    :visited {
      color: $color-neutral-1;
      text-decoration: none;

      &:hover {
        color: $color-accent-2;
      }
    }
  }
}
